.bg {background: hsla(173, 89%, 70%, 1); 
    background: linear-gradient(90deg,#5725c4 0%, hsla(196, 68%, 38%, 1) 100%);
    background: -moz-linear-gradient(90deg,#5725c4 0%, hsla(196, 68%, 38%, 1) 100%);
    background: -webkit-linear-gradient(90deg, #5725c4 0%, hsla(196, 68%, 38%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6FF7E8", endColorstr="#1F7EA1", GradientType=1 );
    height: 100vh;
    width: 100vw;
    padding-top: 90px;
}

.linkstyle {
    text-decoration:none;
    color:#fff;
}

.active{
    background: linear-gradient(to right, red, yellow, white); 
          -webkit-background-clip: text;  
          background-clip: text;
          color: transparent;  
          display: inline-block; 
}